#root
{
    margin: auto;
    padding: 10px;
    background-color: hsl(210, 60%, 75%);
    min-height: 100vh;
    max-width: 800px;
}
body
{
    background-color: hsl(210, 60%, 40%);
}
canvas
{
    background-color: aliceblue;
    margin-bottom: 10px;
}
#settings_grid
{
    max-width: 400px !important;
}
/*
#settings_grid .row
{
    display: contents;
}
#settings_grid
{
    display: grid;
    grid-template-columns: max-content max-content;
    width: max-content;
}
*/