#root
{
    margin: auto;
    padding: 10px;
    background-color: hsl(210, 60%, 75%);
    min-height: 100vh;
    max-width: 800px;
}
body
{
    background-color: hsl(210, 60%, 40%);
}
canvas
{
    background-color: aliceblue;
    margin-bottom: 10px;
}